.react-logo {
	position: absolute;
	bottom: 30px;
	right: 20px;
	width: 85px;
	animation: rotating 3s linear infinite;
}
.type-logo {
	position: absolute;
	bottom: 30px;
	left: 20px;
	width: 50px;
	animation: typeSwitch 2s linear infinite;
}
.main-cubediv {
	position: absolute;
	bottom: 20px;
	left: 30px;
	width: 40px;
	height: 40px;
	margin: 10px auto;
	perspective: 80px;
	.box-cubediv {
		width: 40px;
		transform-style: preserve-3d;
		animation: rotate 15s linear infinite;
		div {
			position: absolute;
			width: 40px;
			height: 40px;
			border: 2px solid rgb(255, 201, 54);
			border-radius: 2px;
		}
		.cube-logo {
			width: 100%;
		}
		.cube-type {
			margin: 13% auto;
			width: 75%;
		}
		#Front {
			transform: translateZ(20px);
			background: antiquewhite;
		}
		#Back {
			transform: rotateY(180deg) translateZ(20px);
			background: antiquewhite;
		}
		#Left {
			transform: rotateY(-90deg) translateX(-20px);
			transform-origin: left;
			background: antiquewhite;
		}
		#Right {
			transform: rotateY(90deg) translateX(20px);
			transform-origin: right;
			background: antiquewhite;
		}

		#Top {
			transform: rotateX(-90deg) translateY(-20px);
			transform-origin: top;
			background: antiquewhite;
		}
		#Bottom {
			transform: rotateX(90deg) translateY(20px);
			transform-origin: bottom;
			background: antiquewhite;
		}
	}
}
@keyframes rotate {
	0% {
		ransform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes typeSwitch {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}
@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
